.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2fcc5e; /* Dark blue background */
    color: white;
    padding: 10px 20px; /* Add some padding */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .link_items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .link_items li {
    margin-right: 15px; /* Increase the margin */
  }
  
  .link_items a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Add padding to top and bottom */
    transition: border-color 0.4s; /* Fix transition property */
    border-bottom: 2px solid transparent;
  }
  
  .link_items a:hover {
    border-color: white; /* Change border color on hover */
  }
  